.App {
  text-align: center;
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  border-color: #f8f8ff;
  border-style: solid;
  padding: calc(100px + 3vmin) calc(280px + 8vmin) calc(100px + 3vmin) calc(280px + 8vmin);
}

.horizontal{
  display: flex;
  justify-content: center;
}

.horizontal > div {
  margin: 10px;
}

.typewriter {
  color: #ffffff;
  font-size: calc(4px + 2vmin);
  font-family: 'Source Code Pro', monospace;
}

.h1 {
  color: #F8F8FF;
  font-size: calc(10px + 5vmin);
  font-family: 'Roboto', sans-serif;
}

.h2 {
  color: #F8F8FF;
  font-size: calc(10px + 3vmin);
}

@media screen and (max-width: 1000px) {
  .main {
    padding: calc(100px + 3vmin) calc(200px + 8vmin) calc(100px + 3vmin) calc(200px + 8vmin);
  }
}

@media screen and (max-width: 847px) {
  .main {
    padding: calc(100px + 3vmin) calc(100px + 8vmin) calc(100px + 3vmin) calc(100px + 8vmin);
  }
}

@media screen and (max-width: 570px) {
  .main {
    padding: calc(30px + 3vmin) calc(20px + 4vmin) calc(30px + 3vmin) calc(20px + 4vmin);
  }
}